body {
    margin: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
}
.background {
    background-image: url('./Imagens-hobby-fotografia/background-equipamento.jpg');
    background-size: cover;
    background-position: center center;
    position: relative;
    top: 0;
    bottom: 0;
    height: 100vh;
    z-index: -10;
}
.background-overlay {
    position: absolute;
    background-color: rgba(0,0,0,0.3);
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: -5;
}
.container {
    position: relative;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.486);
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 15px 50px rgba(0,0,0,.5);
}
.container2{
    position: relative;
    top: 20%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.486);
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 15px 50px rgba(0,0,0,.5);
}
.titulo-container {
    position: relative;
    top: 6%;
    left: 4%;
    padding: 30px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: rgb(250, 245, 245);
}
.titulo-container2{
    position: relative;
    top: 6%;
    left: 64%;
    padding: 30px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: rgb(250, 245, 245);
}